{% extends "app_manager/app_install_base.html" %}
{% load viewer_helper_tags %}
{% load bootstrap_tags staticfiles %}
{% load i18n %}
{% load static %}
{% block title %} {{ block.super }} - {% trans "Geoform" %}- {{instance.title}} {% endblock %}
{% block head %}
    {% include "geonode/ext_header.html" %}
    {% include "geonode/app_header.html" %}
    {{ block.super }}
{% endblock %}
{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row"  style="text-align: center" id="main-ct">
                <h1>cartoview Attachment manage</h1>
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_script %}

{% endblock %}

