{% extends 'base.html' %}
{% block body_directives %}

{% endblock %}
{% block header_toolbar %}{% endblock %}
{% block body %}
    <div class="full-height" layout-align="space-around stretch" layout="row" layout-sm="column" layout-xs="column">
        <h2>Files list</h2>
        {% for file in files %}

            {% for k,v in file.items %}
                <section>
                    <h3>{{ k }} Files</h3>
                    <ul>
                        {% for f in v %}
                            <li><a href="{% url 'attachment_down' layer_name=k id=f.id %}">{{ k }}-{{ f.file_name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </section>

            {% endfor %}

        {% endfor %}
    </div>

{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cartoview/css/index.css">
    <style>
        .content-ct-inner {
            position: relative;
            top: 0px;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: auto;
        }
    </style>
{% endblock %}